@font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.svg) format('svg');
    src: url(/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.ttf) format('truetype');
    src: url(/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.woff) format('woff');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/assets/fonts/Material-icons/MaterialIcons-Regular.woff) format('woff'),
      url(/assets/fonts/Material-icons/MaterialIcons-Regular.ttf) format('truetype'),
      url(/assets/fonts/Material-icons/MaterialIcons-Regular.svg) format('svg');
  }

  /* Removes width and height from icon font CSS.*/
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }