@font-face {
    font-family: "Montserrat";
    src: local('Montserrat'),
    url('/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.svg') format('svg'),
    url('/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.ttf') format('truetype'),
    url('/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.woff') format('woff'); 
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-bold";
    src: local('Montserrat-bold'),
    url('/assets/fonts/Montserrat/bold/montserrat-v14-cyrillic-700.svg') format('svg'),
    url('/assets/fonts/Montserrat/bold/montserrat-v14-cyrillic-700.ttf') format('ttf'),
    url('/assets/fonts/Montserrat/bold/montserrat-v14-cyrillic-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Material Icons';
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('/assets/fonts/Material-icons/MaterialIcons-Regular.woff') format('woff'),
      url('/assets/fonts/Material-icons/MaterialIcons-Regular.ttf') format('truetype'),
      url('/assets/fonts/Material-icons/MaterialIcons-Regular.svg') format('svg');
      font-style: normal;
      font-weight: normal;
  }
  /* Add gradient for icon font*/
  .material-icons {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }