@font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.svg);
    src: url(/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.ttf) format('truetype');
    src: url(/assets/fonts/Montserrat/regular/montserrat-v14-latin_cyrillic-regular.woff) format('truetype');
}