@mixin buttons-style {
    border-radius: 22px;
    font-family: $mainf-bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    outline: none;
    cursor: pointer;
}

@mixin ApplyClearButtons {
    font-family: $mainf-bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    &:hover {
        filter: brightness(110%);
    }
}

@mixin label-style {
    display: block;
    font-family: $mainf-bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
}

@mixin input-style {
    height: 44px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 4px;
    font-family: $main-font;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.25);
    padding-left: 15px;
    outline-color: #bc9cff;
    &:hover {
        border-color: rgba(31, 32, 65, .5);
    }
    &:focus {
        color: rgba(31, 32, 65, 0.75);
    }
    &::placeholder {
        color: rgba(31, 32, 65, 0.25);
    }
}

@mixin checkbox-style($color) {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid $color;
    border-radius: 4px;
    &::before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        width: 3px;
        height: 9px;
        transition: all linear .3s;
    }
    &::after {
        content: '';
        position: absolute;
        left: 11px;
        top: 6px;
        width: 3px;
        height: 9px;
        transition: all linear .3s;
    }
}

@mixin radio-style {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    font-family: $main-font;
    font-size: 14px;
    line-height: 171%;
    color: rgba(31, 32, 65, 0.75);
    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: $main-gradient;
        border-radius: 10px;
        opacity: 0;
        transition: .2s;
        transform: (-50%, -50%);
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

@mixin promo-style {
    font-family: $main-font;
    font-size: 14px;
    line-height: 171%;
    color: rgba(31, 32, 65, .75);
}

@mixin link-style {
    font-family: $main-font;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, .5);
}

@mixin arrow-style() {
    font-family: $icon-font;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &:hover {
        filter: brightness(120%);
    }
}

@mixin expand-style($line-height, $text-align) {
    font-family: $icon-font;
    font-size: 24px;
    color: rgba(31, 32, 65, .5);
    cursor: pointer;
    line-height: $line-height;
    text-align: $text-align;
    user-select: none;
    &:hover {
        color: #bc9cff;
    }
}

@mixin star-style {
    font-family: $icon-font;
    font-size: 24px;
    line-height: 20px;
    user-select: none;
}

@mixin guest-text {
    font-family: $mainf-bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #1F2041;
}

@mixin guest-circle($border-color) {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: $border-color;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

// Adaptiv font
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}