@import 'fonts.scss';

$main-font: Montserrat, sans-serif;
$mainf-bold: Montserrat-bold, sans-serif;
$sec-font: Quicksand;
$icon-font: Material Icons;
$main-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1280px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;