 @import 'fonts.scss';

$main-font: Montserrat, sans-serif;
$mainf-bold: Montserrat-bold, sans-serif;
$sec-font: Quicksand;
$icon-font: Material Icons;
$main-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

$screen-md: 577px;
$screen-lg: 992px;
$screen-xl: 1200px;