.calendar-outter {
    width: 320px;
    height: 369px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 4px;
    position: absolute;
    top: 190px;
    box-shadow: 0 10px 20px rgba(31, 32, 65, .05);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    &_active {
        visibility: visible;
        transition: all 0.3s ease 0s;
        opacity: 1;
    }
.calendar-inner{
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px 0;
    }
    &__month {
        font-family: $mainf-bold;
        font-size: 19px;
        color: #1f2041;
        line-height: 23px;
    }
    &__weekdays {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        padding: 0 31px;
        span {
            font-family: $mainf-bold;
            color: #bc9cff;
            font-size: 12px;
            line-height: 15px;
        }
    }
    &__days {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 20px;
        div {
            font-family: $main-font;
            font-size: 12px;
            color: rgba(31, 32, 65, .5);
            line-height: 15px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover:not(.today) {
                background-color: #bc9cff;
                border-radius: 22px;
                cursor: pointer;
                color: #fff;
            }
        }
        .selected-day_1 {
            background-color: #bc9cff;
            border-radius: 22px;
            color: #fff;
            position: relative;
            /* &::after {
                content: '';
                display: block;
                height: 40px;
                width: 150px;
                position: absolute;
                left: 0;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                opacity: 0.25;
                border-radius: 22px;
            }*/
        }
        .selected-day_2 {
            background-color: #bc9cff;
            border-radius: 22px;
            color: #fff;
        } 
        .today {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border-radius: 22px;
            color: #fff;
            cursor: pointer;
            &:hover {
                filter: brightness(105%);
            }
        }
        .prev-date, .next-date {
            color: rgba(31, 32, 65, .25);
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        //margin-top: 15px;
        padding: 0 15px;
        .calendar-footer {
            &__button_apply {
                @include ApplyClearButtons;
            }
            &__button_clear {
                @include ApplyClearButtons;
            }
        }
    }
}
}