.header {
    &__shadow {
        box-shadow: 0px 10px 20px rgba(31, 32, 65, .05);
        background-color: #fff;
    }
    &-content {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: $screen-lg) {
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
        z-index: 10;
            &::before, &::after {
                content: '';
                background-color: #bc9cff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            &.active:before {
                transform: rotate(45deg);
                top: 10px;
            }
            &.active:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            &.active span {
                transform: scale(0);
            }
            span {
                position: absolute;
                background-color: #bc9cff;
                width: 100%;
                height: 2px;
                left: 0;
                top: calc(50% - 1px);
                transition: all 0.3s ease 0s;
            }
    }
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-menu {
      display: flex;
      align-items: center; 
      margin-left: 283px;
    &__link {
        @include link-style;
        margin-right: 20px;
        &:last-child {
            margin: 0;
        }
        &:hover {
            color: #bc9cff;
        }
        @media (max-width: $screen-lg) {
            margin: 0 0px 30px 0;
            color: #fff;
            text-decoration: underline; 
        }
    }
    @media (max-width: $screen-xl) {
        margin-left: 75px;
    }
    @media (max-width: $screen-lg) {
        margin: 0;
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        flex-direction: column;
        align-items: center;
        padding: 100px 0px 0px 0px;
        transition: all 0.3s ease 0s;
        background-color: rgba(28, 36, 42, 0.8);
        overflow: auto;
        z-index: 10;
        &.active {
            top: 0;
        }
    }
}

.button {
    &__login {
        @include buttons-style;
        height: 34px;
        width: 87px;
        background: none;
        border-color: #bc9cff;
        border-style: solid;
        color: #bc9cff;
        margin-left: 25px;
        &:hover {
            background: $main-gradient;
            color: #fff;
            @media (max-width: $screen-lg) {
                background: none;
                color: #bc9cff;
            }
        }
        @media (max-width: $screen-lg) {
                border: none;
                color: #fff;
        }
    }
    &__registration {
        @include buttons-style;
        height: 34px;
        width: 196px;
        border-style: none;
        background: $main-gradient;
        color: #fff;
        margin-left: 20px;
        &:hover {
            background: #fff;
            color: #bc9cff;
            border-color: #bc9cff;
            border-style: solid;
            @media (max-width: $screen-lg) {
                background: none;
                border: none;
            }
        }
        @media (max-width: $screen-lg) {
            background: none;
            color: #fff
        }
    }
}