.main {
    height: 830px;
    position: relative;
}

.main-img {
    width: 100%;
    height: 100%;
}

.form-outter {
    height: calc(374px - 40px);
    width: calc(380px - 60px);
    background: #fff;
    border: 1px solid rgba(0,0,0, .12);
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    position: absolute;
    top: 70px;
    padding: 40px 30px 20px;
    @media (max-width: $screen-md) {
        width: calc(280px - 30px);
        height: calc(300px - 20px);
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        padding: 20px 15px 10px;
    }
}
.form-inner {
    &__title {
        font-family: $mainf-bold;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1f2041;
        margin-bottom: 20px;
        @media (max-width: $screen-md) {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    &__row {
        display: flex;
    }
    &__label {
        @include label-style;
        margin-bottom: 5px;
        @media (max-width: $screen-md) {
            font-size: 10px;
        }
    }
    &__input {
        @include input-style;
        width: 135px;
        color: rgba(31, 32, 65, 0.75);
        &::placeholder {
            color: rgba(31, 32, 65, 0.75);
        }
        @media (max-width: $screen-md) {
            width: 95px;
            font-size: 11px;
        }
        &_large {
            @include input-style;
            width: 305px;
            color: rgba(31, 32, 65, 0.75); 
            &::placeholder {
                color: rgba(31, 32, 65, 0.75);  
            }
            @media (max-width: $screen-md) {
                width: 225px;
            }
        }
    }
    &__group-2 {
        margin-left: 28px;
    }
    &__group-3 {
        margin-top: 17px;
    }
}
.search-button {
    @include buttons-style;
    height: 44px;
    width: 320px;
    background: $main-gradient;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    border: none;
    &:hover {
        filter: brightness(105%);
    }
    @media (max-width: $screen-md) {
        width: 240px;
        font-size: 10px;
        height: 35px;
        margin-top: 15px;
    }
}
.promo {
    @include promo-style;
    @include adaptiv-font(14, 12);
    width: 297px;
    height: 48px;
    text-align: right;
    position: absolute;
    top: 730px;
    right: 0;
}