.search-page {
    display: flex;
    &__side {
        display: flex;
        flex-direction: column;
    }
}

.dates-guests {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &__date-label {
        @include label-style;
        margin-bottom: 5px;
    }
    &__guest-label {
        @include label-style;
        margin-bottom: 5px;
    }
    &__date-input {
        @include input-style;
        width: 251px;
    }
    &__guest-input {
        @include input-style;
        width: 251px;
    }
    &__group-1 {
        margin-bottom: 30px;
    }
}

.price-range {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .price-header {
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        &__title {
            @include label-style;
            margin-right: 50px;
        }
        &__prices {
            font-family: $main-font;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: rgba(31, 32, 65, 0.5);
        }
    }
    .price-filter {
        height: 6px;
        width: 266px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 3px;
        cursor: pointer;
        .noUi-base,
        .noUi-connects {
            position: relative;
            height: 6px;
        }
        .noUi-origin,
        .noUi-connect {
            will-change: transform;
            width: 10%;
            height: 10%;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            transform-origin: 0 0;
            transform-style: flat;
            cursor: pointer;
        }
        .noUi-connect {
            background-color: #bc9cff;
            width: 100%;
            height: 105%;
        }
        .noUi-handle {
            width: 12px;
            height: 12px;
            border: 2px solid #fff;
            background-color: #bc9cff;
            border-radius: 10px;
            position: relative;
            top: -6px;
            right: -20px;
            cursor: pointer;
        }
    }
    .price-footer {
        font-family: $main-font;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
        margin-top: 14px;
    }
}

.checkbox-rules {
    margin-top: 30px;
    &__title {
        @include label-style;
        margin-bottom: 16px;
    }
    .smoking {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &__input {
            display: none;
            &:checked {
                &~.smoking__checkbox {
                    &::after {
                        transform: rotate(45deg);
                        background: $main-gradient;
                    }
                    &::before {
                        transform: rotate(135deg);
                        background: $main-gradient;
                    }
                }
            }
        }
        &__text {
            font-family: $main-font;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
        }
        &__checkbox {
            @include checkbox-style(#bc9cff);
            margin-right: 10px;
        }
    }
    .pets {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &__input {
            display: none;
            &:checked {
                &~.pets__checkbox {
                    &::after {
                            transform: rotate(45deg);
                            background: $main-gradient;
                    }
                    &::before {
                            transform: rotate(135deg);
                            background: $main-gradient;
                    }
                }
            }
            }
            &__text {
                font-family: $main-font;
                font-size: 14px;
                line-height: 18px;
                color: rgba(31, 32, 65, 0.5);
            }
            &__checkbox {
                @include checkbox-style(#bc9cff);
                margin-right: 10px;
            }
    }
    .guest-limit {
        display: flex;
        &__input {
            display: none;
            &:checked {
                &~.guest-limit__checkbox {
                    &::after {
                            transform: rotate(45deg);
                            background: $main-gradient;
                    }
                    &::before {
                            transform: rotate(135deg);
                            background: $main-gradient;
                    }
                }
            }
            }
            &__text {
                font-family: $main-font;
                font-size: 14px;
                line-height: 18px;
                color: rgba(31, 32, 65, 0.5);
                margin-top: 2px;
            }
            &__checkbox {
                @include checkbox-style(#bc9cff);
                margin-right: 10px;
            }
    }
}
.checkbox-availability {
    margin-top: 30px;
    &__title {
        @include label-style;
        margin-bottom: 16px;
    }
    .wide-corridor {
        display: flex;
        align-items: center;
        &__input {
            display: none;
            &:checked {
                &~.wide-corridor__checkbox {
                    &::after {
                         transform: rotate(45deg);
                         background: $main-gradient;
                    }
                    &::before {
                         transform: rotate(135deg);
                         background: $main-gradient;
                    }
                }
            }
        }
        &__checkbox {
            @include checkbox-style(rgba(31, 32, 65, 0.25));
            margin-right: 10px;
        }
        &__title {
            font-family: $mainf-bold;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.75);
        }
        &__subtitle {
            display: block;
            font-family: $main-font;
            font-size: 12px;
            line-height: 14px;
            color: rgba(31, 32, 65, 0.5);
            margin: 5px 0 0 33px        
        }
    }
    .assistant {
        display: flex;
        align-items: center;
        margin-top: 11px;
        &__input {
            display: none;
            &:checked {
                &~.assistant__checkbox {
                    &::after {
                         transform: rotate(45deg);
                         background: $main-gradient;
                    }
                    &::before {
                         transform: rotate(135deg);
                         background: $main-gradient;
                    }
                }
            }
        }
        &__checkbox {
            @include checkbox-style(rgba(31, 32, 65, 0.25));
            margin-right: 10px;
        }
        &__title {
            font-family: $mainf-bold;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.75);
        }
        &__subtitle {
            display: block;
            font-family: $main-font;
            font-size: 12px;
            line-height: 14px;
            color: rgba(31, 32, 65, 0.5);
            margin: 5px 0 0 33px       
        }
    }
}

.facilities {
    margin-top: 30px;
    &__title {
        @include label-style;
        margin-bottom: 5px;
    }
    &__input {
        @include input-style;
        width: 251px;
    }
}
.facilities-extra {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .extra-text {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &__title {
            @include label-style;
            margin-right: 23px;
        }
    }
    .facilities-items {
        visibility: hidden;
        transition: all 0.3s ease 0s;
        opacity: 0;
        &__active {
            visibility: visible;
            transition: all 0.3s ease 0s;
            opacity: 1;
        }
    }
    .item {
        display: flex;
        &__input {
            display: none;
            &:checked {
                &~.item__checkbox {
                    &::after {
                            transform: rotate(45deg);
                            background: $main-gradient;
                    }
                    &::before {
                            transform: rotate(135deg);
                            background: $main-gradient;
                    }
                }
            }
        }
        &__checkbox {
            @include checkbox-style(rgba(31, 32, 65, 0.25));
            margin: 0 10px 10px 0;
        }
        &__title {
            font-family: $main-font;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
        }
    }
}

.hotel-number {
    margin: 15px 0 0 60px;
    &__title {
        font-family: $mainf-bold;
        font-size: 24px;
        line-height: 29px;
        color: #1f2041;
    }
    .rooms {
        &__row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
            @media (max-width: $screen-xl) {
                margin-bottom: 0;
            }
        }
        &__item {
            display: flex;
            flex-direction: column;
            width: 271px;
            height: 257px;
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
            border-radius: 4px;
            margin-left: 12px;
            &:first-child {
                margin-left: 0;
            }
            @media (max-width: $screen-xl) {
                &:last-child {
                    margin-left: 0;
                }
                margin-bottom: 12px;
                box-shadow: 0px 5px 20px rgba(31, 32, 65, 0.05);
            }
        }
        &__main {
            display: flex;
            justify-content: space-between;
            margin: 20px 0 10px;
            padding: 0 17px 0 20px;
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
        }
        .slider-item {
            display: flex;
        }
        .slider-track {
            transition: .3s;
        }
        .image {
            position: relative;
            overflow: hidden;
            &__img {
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                img {
                    width: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                }
            }
            &__expand {
                &_1 {
                    @include expand-style(24px, center);
                    position: absolute;
                    top: 60px;
                    left: 10px;
                    transform: rotate(90deg) ;
                    color: #fff;
                    filter: brightness(110%);
                    z-index: 5;
                }
                &_2 {
                    @include expand-style(24px, center);
                    position: absolute;
                    top: 67px;
                    right: 10px;
                    transform: rotate(-90deg);
                    color: #fff;
                    filter: brightness(110%);
                    z-index: 5;
                }
            }
            &__circles {
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 17px;
                right: 11px;
                .circle {
                    width: 6px;
                    height: 6px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
                    margin-right: 4px;
                    &__active {
                        width: 6px;
                        height: 6px;
                        border: 1px solid #fff;
                        background: #fff;
                        border-radius: 50%;
                        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
                        margin-right: 4px;
                    }
                }
            }
        }
        .room {
            &__number {
                font-family: $mainf-bold;
                font-size: 13px;
                line-height: 17px;
                color: #1f2041;
                &_big {
                    font-size: 18px;
                }
            }
            &__luxury {
                font-family: $mainf-bold;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #bc9cff;
                margin: 5px 20px 0 0;
            }
            &__price {
                font-family: $mainf-bold;
                font-size: 14px;
                line-height: 129%;
                color: rgba(31, 32, 65, 0.5);
                margin-top: 4px;
                &_light {
                    font-family: $main-font;
                    font-size: 12px;
                }
            }
        }
        .line {
                width: 230px;
                height: 1px;
                background: rgba(31, 32, 65, 0.1);
                margin: 0 20px;
        }
        .rating {
            padding: 10px 20px 0;
            display: flex;
            align-items: center;
            &__stars {
                display: flex;
                align-items: center;
            }
            &__star {
                @include star-style;
            }
            &__reviews {
                font-family: $mainf-bold;
                font-size: 14px;
                line-height: 129%;
                color: rgba(31, 32, 65, 0.5);
                &_light {
                    font-family: $main-font;
                }
            }
        }
    }
}
.pagging {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $main-font;
        font-size: 12px;
        color: rgba(31, 32, 65, 0.5);
        width: 40px;
        height: 40px;
        &:hover:not(:nth-child(4)) {
            border-radius: 22px;
            color: #fff;
            background: $main-gradient;
            cursor: pointer;
        }  
    }
    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 22px;
        background: $secondary-gradient;
        &:hover {
            filter: brightness(105%);
        }
    }
}
.rent-variation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &__text {
        font-family: $main-font;
        font-size: 14px;
        line-height: 171%;
        color: rgba(31, 32, 65, 0.75);
        margin-bottom: 70px;
    }
}