@import './normalize.scss';
@import './assets/scss/vars.scss';
@import './assets/scss/mixins.scss';
@import './assets/scss/fa-scss/fontawesome.scss';
@import './assets/scss/fa-scss/brands.scss';

body {
    height: 100%;
    @media (max-width: $screen-lg) {
        &.lock {
            overflow: hidden;
        }
    }
}
.header {
    &__shadow {
        box-shadow: 0px 10px 20px rgba(31, 32, 65, .05);
        background-color: #fff;
    }
    &-content {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: $screen-xl) {
        max-width: $screen-lg;
    }
    @media (max-width: $screen-lg) {
        max-width: $screen-md;
    }
}
@media (max-width: $screen-lg) {
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
        z-index: 5;
            &::before, &::after {
                content: '';
                background-color: #bc9cff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            &.active:before {
                transform: rotate(45deg);
                top: 10px;
            }
            &.active:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            &.active span {
                transform: scale(0);
            }
            span {
                position: absolute;
                background-color: #bc9cff;
                width: 100%;
                height: 2px;
                left: 0;
                top: calc(50% - 1px);
                transition: all 0.3s ease 0s;
            }
    }
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-menu {
      display: flex;
      align-items: center; 
      margin-left: 283px;
    &__link {
        @include link-style;
        margin-right: 20px;
        &:last-child {
            margin: 0;
        }
        &:hover {
            color: #bc9cff;
        }
        @media (max-width: $screen-lg) {
            margin: 0 80px 15px 0;
            color: #fff; 
            &:last-child {
                margin-right: 80px;
            }
        }
    }
    @media (max-width: $screen-xl) {
        margin-left: 75px;
    }
    @media (max-width: $screen-lg) {
        margin: 0;
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        flex-direction: column;
        align-items: flex-end;
        padding: 70px 0px 0px 0px;
        transition: all 0.3s ease 0s;
        background-color: rgba(28, 36, 42, 0.8);
        overflow: auto;
        &.active {
            top: 0;
        }
    }
}
.icon {
    display: flex;
    align-items: center;
&__expand-nav {
    @include expand-style(20px, none);
    &:hover {
        color: #bc9cff;
    }
    @media (max-width: $screen-lg) {
        display: none;
    }
}
&__expand-input {
    @include expand-style(24px, center);
    margin-left: -38px;
}
&__arrow-button {
    @include arrow-style;
    margin-left: -66px;
    color: #fff;
}
&__arrow-input {
    @include arrow-style;
    margin-left: -38px;
    margin-top: 22px;
}
}
.button {
    &__login {
        @include buttons-style;
        height: 34px;
        width: 87px;
        background: none;
        border-color: #bc9cff;
        border-style: solid;
        color: #bc9cff;
        margin-left: 25px;
        &:hover {
            background: $main-gradient;
            color: #fff;
            @media (max-width: $screen-lg) {
                background: none;
            }
        }
        @media (max-width: $screen-lg) {
                border: none;
                color: #fff;
        }
    }
    &__registration {
        @include buttons-style;
        height: 34px;
        width: 196px;
        border-style: none;
        background: $main-gradient;
        color: #fff;
        margin-left: 20px;
        &:hover {
            background: #fff;
            color: #bc9cff;
            border-color: #bc9cff;
            border-style: solid;
            @media (max-width: $screen-lg) {
                background: none;
                border: none;
            }
        }
        @media (max-width: $screen-lg) {
            background: none;
            color: #fff
        }
    }
}
.main {
    //display: grid;
    //grid-template-columns: 1.2fr 1fr 1fr;
}
.main-img {
    width: 100%;
    height: 830px;
    //object-fit: cover;
    //grid-column: 1 / 4;
    //grid-row: 1;
}
.search-form {
    height: 374px;
    width: 380px;
    background: #fff;
    border: 1px solid rgba(0,0,0, .12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
    position: absolute;
    top: 140px;
    //grid-column: 1;
    //grid-row: 1;
    //justify-self: end;
    //margin-top: 70px;
    @media (max-width: $screen-lg) {
        //grid-column: 3;
        //justify-self: start;
    }
}

.form-inner {
    &__title {
        font-family: $mainf-bold; //without quicksand font
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1f2041;
        margin: 40px 30px 20px;
    }
    &__row {
        display: flex;
    }
    &__label {
        @include label-style;
        margin: 1px 0 3px;
    }
    &__input {
        @include input-style;
        width: 150px;
        &::placeholder {
            @include placeholder-style;
            padding-left: 14px;
        }
        &_large {
            @include input-style;
            width: 320px;
            &::placeholder {
                @include placeholder-style;
                padding-left: 14px;
            }
        }
    }
    &__group-1 {
        margin: -1px 0 0 28px;
    }
    &__group-2 {
        margin: -1px 0 0 28px;
    }
    &__group-3 {
        margin: 17px 0 1px 28px;
    }
}
.search-button {
    @include buttons-style;
    height: 44px;
    width: 320px;
    background: $main-gradient;
    color: #fff;
    text-align: center;
    margin: 28px 29px 30px;
    border: none;
}
.promo {
    &__text {
    @include promo-style;
    width: 297px;
    height: 48px;
    text-align: right;
    position: absolute;
    top: 834px; 
    //grid-column: 3;
    //grid-row: 1;
    //align-self: end;
    //margin: 0 134px 20px 28px;
    }
}

.bottom {
    background: #fff;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, .1);
    &-content {
        min-height: 372px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-content: center;
        grid-column-gap: 38px;
        @media (max-width: $screen-lg) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-template-areas: "promo promo promo";
        }
    }
}
.bottom-promo {
    &__logo {
        margin-top: 6px;
    }
    &__text {
        @include promo-style;
        height: 72px;
        width: 260px;
    }
    @media (max-width: $screen-lg) {
        grid-area: promo;
        grid-column: span 2;
    }
}
.bottom-nav {
    display: flex;
    flex-direction: column;
    &__title {
        font-family: $mainf-bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
        margin-bottom: 20px;
    }
    &__link {
        @include link-style;
        margin-bottom: 20px;
        &:hover {
            color: #bc9cff;
        }
    }
}
.subscription {
        font-family: $main-font;
    &__title {
        font-family: $mainf-bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 14px;
        line-height: 171%;
        color: rgba(31, 32, 65, .75);
    }
    &__input {
        @include input-style;
        width: 260px;
        margin-top: 21px;
        &::placeholder {
            color: rgba(31, 32, 65, .25);
            line-height: 171%;
            padding-left: 8px;
        }
        @media (max-width: $screen-lg) {
            height: 35px;
            width: 235px;
        }
    }
}

.footer {
    margin-top: -4px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, .1);
    border-top: 1px solid rgba(31, 32, 65, .2);
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
    }
    &-copyright {
        font-family: $main-font;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, .75);
    }
    &-socials {
        margin-right: -15px;
    }
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}