@import './normalize.scss';
@import './assets/scss/vars.scss';
@import './assets/scss/mixins.scss';

.nav {
    height: 70px;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, .05);
    background-color: #fff;
    display: flex;
    align-items: center;
}

.logo {
    &__img {
        margin: 15px 12px 16px 140px;
    }
    &__text {
        margin: 32px 285px 29px -4px;
    }
}
.top-nav {
      display: flex;
      align-items: center; 
      margin: 26px 2px;
    &__link {
        font-family: $main-font;
        color: rgba(31, 32, 65, .5);
        margin-right: 20px;
        font-size: 14px;
        line-height: 17px;
    }
    &__link:last-child {
        margin: 0;
    }
}
.icon {
    display: flex;
    align-items: center;
&__expand-nav {
    font-family: $icon-font;
    font-size: 24px;
    line-height: 20px;
    color: rgba(31, 32, 65, .5);
    }
&__expand-input {
    font-family: $icon-font;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: rgba(31, 32, 65, .5);
    margin-left: -38px;
    cursor: pointer;
}
&__arrow {
    font-family: $icon-font;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-left: -66px;
    text-align: center;
    cursor: pointer;
}
}
.button {
    margin: 18px -1px;
    height: 34px;
    &__login {
        @include buttons-style;
        width: 87px;
        background: none;
        border-color: #bc9cff;
        border-style: solid;
        color: #bc9cff;
        margin-left: 20px;
    }
    &__registration {
        @include buttons-style;
        width: 196px;
        border-style: none;
        background: $main-gradient;
        color: #fff;
        margin-left: 16px;
    }
}

.main-img {
    width: 100%;
    height: 830px;
}

.search-form {
    height: 374px;
    width: 380px;
    background: #fff;
    border: 1px solid rgba(0,0,0, .12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
    position: absolute;
    left: 140px;
    top: 140px;
    display: flex;
    flex-direction: column;
}

.form {
    &__title {
        font-family: $main-font; //without quicksand font
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1f2041;
        margin: 40px 30px 20px;
    }
    &__row {
        display: flex;
    }
    &__label {
        @include label-style;
        margin: 1px 0 3px;
    }
    &__input {
        width: 320px;
    }
    &__group-1 {
        margin: -1px 0 0 28px;
    }
    &__group-2 {
        margin: -1px 0 0 32px;
    }
    &__group-3 {
        margin: 17px 0 1px 28px;
    }
}

input {
    width: 150px;
    @include input-style;
}
input::placeholder {
   @include placeholder-style;
   padding-left: 14px;
}

.search-button {
    @include buttons-style;
    height: 44px;
    width: 320px;
    background: $main-gradient;
    color: #fff;
    text-align: center;
    margin: 28px 29px 30px;
}