@import './normalize.scss';
@import './assets/scss/vars.scss';
@import './assets/scss/mixins.scss';

.nav {
    height: 70px;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, .05);
    background-color: #fff;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgba(31, 32, 65, .5);
}

.logo {
    &__img {
        margin: 15px 12px 16px 140px;
    }
    &__text {
        margin: 32px 285px 29px -4px;
    }
}
.top-nav {
      display: flex;
      align-items: center; 
      margin: 26px 2px;
    &__link {
        font-family: $main-font;
        margin-right: 20px;
        font-size: 14px;
        line-height: 17px;
    }
    &__link:last-child {
        margin: 0;
    }
}
.icon {
    display: flex;
    align-items: center;
&__expand {
    font-family: $icon-font;
    font-size: 24px;
    line-height: 20px;
    }
}
.button {
    margin: 18px -1px;
    &__login {
        @include buttons-style;
        width: 87px;
        background: none;
        border-color: #bc9cff;
        border-style: solid;
        color: #bc9cff;
        margin-left: 20px;
    }
    &__registration {
        @include buttons-style;
        width: 196px;
        border-style: none;
        background: $main-gradient;
        color: #fff;
        margin-left: 16px;
    }
}

.main-img {
    width: 100%;
    height: 830px;
}

.search-form {
    height: 374px;
    width: 380px;
    background: #fff;
    border: 1px solid rgba(0,0,0, .12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
    position: absolute;
    left: 140px;
    top: 140px;
    &__title {
        font-family: $main-font; //without quicksand font
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1f2041;
        margin: 40px 30px 18px;
    }
    &__content {
            font-family: $main-font;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1f2041;
            margin: 0 63px 5px 30px;
        }
    &__input {
        width: 150px;
        height: 44px;
        background: #fff;
        border: 1px solid rgba(31, 32, 65, .25);
        border-radius: 4px;
        margin: 5px 0 20px 0px;
    }
    &__input::placeholder {
        font-family: $main-font;
        font-size: 14px;
        line-height: 129%;
        color: rgba(31, 32, 65, .75);
        text-align: center;
    }
}